$greyBackground: #eaeaea;
$black: #000000;
$white: #ffffff;
$red: #921026; 
$greyText: #5c5c5c;
$greyBtn: #383737;
$lightGrey: #dddddd;
$lightLightGrey: #f6f6f6;
$darkGrey: #2f2f2f;
$turquoise: #055555;
$blue: #87d0c5;
$blueDate: #7fa8a8;
$footerText: #7d7d7d;

$Josefin: 'Josefin Sans', sans-serif;
$Playfair: 'Playfair Display', sans-serif 
