.target__inner {
    margin-top: 47px;
}

.target__input {
    padding-top: 20px;
    padding-left: 10px;
}

.target__presentation {
    color: $turquoise;
}

.target__ul {
    font-family: $Josefin;
}

.target__li {
    padding-top: 45px;
}